.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -($grid-half-gutter-width);
  margin-right: -($grid-half-gutter-width);

  &-gutterless {
    margin:0 0;
    [class*="col-"] {
      padding: 0 0;
    }
  }

}

// columns base is for setting up the base styling
[class*="col-"] {
  flex: 0 0 100%;
  min-height: 1px;
  padding-left: $grid-half-gutter-width;
  padding-right: $grid-half-gutter-width;
  box-sizing: border-box;
}

@mixin make-grid($bp, $grid-columns: 12) {
  @for $i from 1 through $grid-columns {
    .col-#{$bp}-#{$i} {
      flex-basis: ((100% / $grid-columns)*$i);
      max-width: ((100% / $grid-columns)*$i);
    }
    .col-offset-#{$bp}-#{$i} {
      margin-left: ((100% / $grid-columns)*$i);
    }
  }
}

@each $key, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @include make-grid($key);
  }
}
