.intro-banner {
  background: url('../assets/images/speckle.png') repeat repeat;
  background-size: 190px;
  height: auto;
  width: 100%;
  display: block;
  position: relative;
  @include media-query(map-get($breakpoints, sm)) {
    height: 450px;
  }
  @include media-query(map-get($breakpoints, md)) {
    height: 477px;
  }
  @include media-query(map-get($breakpoints, lg)) {
    height: 512px;
  }
  .intro-banner-overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: -moz-linear-gradient(top,  rgba(40,38,44,0.9) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(40,38,44,0.9) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(40,38,44,0.9) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e628262c', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }
  .intro-banner-content {
    background-color: transparentize($color-gray, 0.2);
    height: auto;
    padding: 40px 40px 40px 30px;
    display: block;
    @include media-query(map-get($breakpoints, sm)) {
      height: 450px;
    }
    @include media-query(map-get($breakpoints, md)) {
      padding-top: 80px;
      height: 520px;
    }
    @include media-query(map-get($breakpoints, lg)) {
      padding-top: 140px;
    }
  }
  .intro-banner-image {
    margin-top: 0px;
    height: auto;
    position: relative;
    z-index: 1;
    display: block;
    img {
      border-top-right-radius: 0;
      width: 100%;
      display: block;
      margin: 0 auto;
      box-shadow: 0 5px 10px 0px rgba(126, 186, 212, 0.3);
    }
    @include media-query(map-get($breakpoints, sm)) {
      margin-top: 94px;
    }
    @include media-query(map-get($breakpoints, md)) {
      height: 520px;
      margin-top: 100px;
      img {
        margin: 0 0;
        width: 100%;
        border-top-right-radius: 3px;
      }
    }

  }
  .intro-banner-row {
    margin-left: -30px;
    margin-right: -30px;
  }
}

.c-tabs {
  /**/
}
.c-tabs-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * Tab
 */
.c-tab {
  display: none;
}

.c-tab.is-active {
  display: block;
}

.c-tab__content {
  padding: 40px 0px 0;

  @include media-query(map-get($breakpoints, md)) {
    padding: 100px 0px 0;
  }

}

/**
 * Tabs no-js fallback
 */
.c-tabs.no-js .c-tabs-nav {
  display: none;
}

.c-tabs.no-js .c-tab {
  display: block;
  margin-bottom: 1.5rem;
}

.c-tabs.no-js .c-tab:last-child {
  margin-bottom: 0;
}

.skills-section {
  height: auto;
  padding: 50px 0 90px;
  background-color: $color-baby-blue;
  width: 100%;
  position: relative;
  display: block;
  .skills-section-angle {
    display: none;
    width: calc(100% + 50px);
    left: -25px;
    height: 50px;
    transform: rotate(1.2deg);
    position: absolute;
    top: -25px;
    background-color: $color-baby-blue;
    @include media-query(map-get($breakpoints, md)) {
      display: block;
    }
  }
  .c-tabs {
    width: 100%;
    margin-top: -100px;
    z-index: 3;
    .skills-buttons {
      max-width: 760px;
      margin: 0 auto;
      position: relative;
      justify-content: space-between;
    }
    .skills-button {
      width: 220px;
      border: 0;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
      text-transform: uppercase;
      font-size: 0.5rem;
      letter-spacing: 3px;
      font-weight: 300;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &.is-active {
        .svg-tabs-line {
          display: block;
        }
      }
      &:focus {
        outline: none;
      }
      &--pink {
        background-color: transparentize($color-pink, 0.25);
        &:hover,
        &:focus,
        &.is-active {
          background-color: $color-pink;
        }
      }
      &--gray {
        background-color: transparentize($color-gray, 0.25);
        &:hover,
        &:focus,
        &.is-active {
          background-color: $color-gray;
        }
      }
      &--baby-blue {
        background-color: transparentize(#65B4D5, 0.25);
        &:hover,
        &:focus,
        &.is-active {
          background-color: #65B4D5;
        }
      }
      @include media-query(map-get($breakpoints, md)) {
        font-size: 0.75rem;
      }
    }
  }
}


.x-mark {
  height: 275px;
  width: 255px;
  position: relative;
  display: block;
  margin: 0 auto;
  z-index: 2;
  &:before,
  &:after {
    content: "";
    width: 10px;
    height: 350px;
    display: block;
    position: absolute;
    background-color: $color-yellow;
    top: -40px;
    left: 122px;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.personal-section {
  background-color: $color-gray;
  padding: 90px 0;
  width: 100%;
  display: block;
  .personal-photo {
    margin-bottom: 35px;
    width: 100%;
  }
}

.contact-section {
  background-color: $color-dark-gray;
  position: relative;
}

.contact-container {
  position: relative;
  padding-top: 90px;
  padding-bottom: 200px;
}
.contact-icon {
  position: absolute;
  border-radius: 50%;
  top: -60px;
  height: 120px;
  width: 120px;
  background-color: $color-dark-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
}

.contact-title {
  font-family: "Andale Mono", "Courier", "Lucida Console", "Source Code Pro";
  color: white;
  font-size: 1rem;
}
.contact-form {
  font-family: "Andale Mono", "Courier", "Lucida Console", "Source Code Pro";
  color: $color-yellow;
  .form-control {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    .form-label {
      padding-right: 8px;
    }
    input,
    textarea {
      background-color: transparent;
      border: none;
      padding: 10px 2px;
      color: white;
      border-bottom: 1px solid $color-dark-gray;
      flex-grow: 1;
      transition: all 0.3s ease-in-out;
      &:focus {
        outline: none;
        border-bottom: 1px solid $color-yellow;
      }
    }
    &--textarea {
      align-items: flex-start;
      .form-label {
        padding-top: 8px;
      }
    }
  }
  .form-submit {
    background-color: transparent;
    color: $color-yellow;
    padding: 0 0;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus {
      outline: none;
      color: white;
    }
  }
}

.bargraph {
  width: 100%;
  margin: 1rem 0;
  font-size: 0.625rem;
  text-transform: uppercase;
  color: $color-gray;
  letter-spacing: 2px;
  &-label {
    display: block;
  }
  &-bar {
    width: 100%;
    display: flex;
    align-items: center;
    .meter {
      flex-basis: 90%;
      height: 8px;
      margin-right: 8px;
      background-color: rgba(101, 180, 213, 0.75);
    }
    .inner-meter {
      height: 8px;
      background-color: $color-pink;
      display: block;
    }
    .percent {
      flex-basis: 10%;
    }
  }
}
