
/**
* Site header
*/
.site-header {
  background-color: $color-gray;
  position: relative;
  display: block;
  padding: 95px 0;
}

.site-title {
  &:hover,
  &:visited {
    text-decoration: none;
  }
  h1,
  h1:visited {
    font-weight: 400;
    font-family: $font-family-serif;
    color: white;
    font-size: 1.5rem;
  }
}
.site-logo {
  position: absolute;
  bottom: -37px;
  height: 74px;
  z-index: 2;
}


/**
* Page content
*/
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
* Posts
*/
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
